<html lang="en">
<head>
    <% include ../inc/header.ejs %>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <br>
                <h2>Conference Append</h2>
                <br>
                <form action="/admin/append" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="conferenceName">Name</label>
                        <input type="text" class="from-control" id="conferenceName" 
                        placeholder="추가하실 회의실 이름을 작성하세요" name="name">
                    </div>
                    <div class="form-group">
                        <label for="person">Person</label>
                        <input type="text" class="from-control" id="person" 
                        placeholder="사용가능한 인원 수 작성해주세요" name="person">
                    </div>
                    <div class="form-group">
                        <label for="intro">Intro</label>
                        <input type="text" class="from-control" id="intro" 
                            placeholder="회의실 간단한 설명을 작성해주세요" name="intro">
                    </div>
                    <div class="form-group">
                        <label for="file">Image</label>
                        <input type="file" name="file" id="file">
                    </div>
                    <button type="submit" class="btn btn-primary">작성</button>
                </form>
            </div>    
            <div class="col"></div>
        </div>
        
    </div>
    
</body>
</html>