<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginpage</title>
</head>
<body>
<form class="form-signin" method="POST" action="@{/login}">
    <h1 class="h3 mb-3 font-weight-normal">[[${login_message}]]</h1>
    <label for="username" class="sr-only">ID</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="ID" >
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" >

    <div align="center" if="${param.error}">
    </div>
    <button type="submit">Sign in</button>
</form>
</body>
</html>