<html lang="en">

<head>
    <% include ../inc/header.ejs %>
</head>

<body>
    <% include ../inc/nav.ejs %>
    <div class="container">
        <h1>예약이 완료 되었습니다.</h1>
        <h2>저희 서비스를 이용해 주셔서 감사합니다.</h2>
        <a href="http://localhost:3000"><img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99ECAF4B5BEA709B0B" alt="good"></a>
    </div>
</body>

</html>
