<html lang="en">

<head>
    <% include ../inc/header.ejs %>
</head>

<body>
    <% include ../inc/nav.ejs %>
    <br>
    <br>
    <h1><%= room[0].name_room %></h1>
    <div class="container">
        <div class="row">
            

        </div>
    </div>

</body>

</html>